vibe_apply__telegram_trigger.json
{
  "name": "vibe apply -1",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -860,
        920
      ],
      "id": "fc912119-ccc3-47ef-bcc8-44a7ef6320f0",
      "name": "Telegram Trigger1",
      "webhookId": "b6535be2-9172-4a01-ba58-58b648373260",
      "credentials": {
        "telegramApi": {
          "id": "5MhgwiY2PSUBNYwD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "6bffa0c2-d288-4b77-b773-22acb6650d0f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "541b82f5-3b1c-41c2-9f7a-0bcdcf1664c4",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -580,
        920
      ],
      "id": "5df6f4ce-c68f-4c66-a81a-f972423f24b6",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b71ec298-971d-4dc0-8c43-4e4c98bc843c",
              "name": "Text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        820
      ],
      "id": "c59de768-a5e3-4b2e-bd2f-7957c6cb169d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger1').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -360,
        1020
      ],
      "id": "5b65db0c-b706-41fc-b74b-5b44c0969a73",
      "name": "Telegram2",
      "webhookId": "9199ebb4-4f46-4050-bdd9-826fd657dd23",
      "credentials": {
        "telegramApi": {
          "id": "5MhgwiY2PSUBNYwD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -140,
        1020
      ],
      "id": "dcbcf0de-7d57-47ac-9e83-1b30389c5a42",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "98SevIE7TbzLgIz1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a helpful assistant that extracts job search parameters from a message.\n\nYour job:\n1. Extract job_role and job_location from the user’s message.\n2. Output ONLY a valid JSON that looks like this:\n\n{\n  \"query\": \"{ jobs[] { title company location url } }\",\n  \"url\": \"https://www.linkedin.com/jobs/search/?keywords=<job_role>&location=<job_location>\",\n  \"params\": {\n    \"wait_for\": 0\n  }\n}\n\nDo not invent or hallucinate. Use ONLY the user's input.\nUser input: {{ $json.Text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        20,
        820
      ],
      "id": "ce2bf3b3-7d07-44db-897b-2ae7a7fc1c0b",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "98SevIE7TbzLgIz1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.agentql.com/v1/query-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "co46xMIuczKZMS7AayLS14Dn4OI4JLTWSFRSnn05nD1PapHvl1sa4Q"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        820
      ],
      "id": "8ab7aec7-8ea7-4aa7-9f22-7c9ba7e49607",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Here's the curated Job List for you:\n[Job List](https://docs.google.com/spreadsheets/d/1VEj9UGJUTite-PmV___QiS7relRzaguQ1AfcUEIymzk/edit?usp=sharing)\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2380,
        920
      ],
      "id": "be1297cd-de71-474d-ac10-1ad2e867eef4",
      "name": "Telegram7",
      "webhookId": "5f03d638-c31c-4d10-9da9-c4e0df147150",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "5MhgwiY2PSUBNYwD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c807f17-aa8e-4797-ab11-8d67986c1d81",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "7ec1051c-6a29-4048-a83e-eb034b34e2c1",
              "name": "Comapny",
              "value": "={{ $json.company }}",
              "type": "string"
            },
            {
              "id": "78efe1d8-af4f-49e8-b620-c0f6b48d405d",
              "name": "Location",
              "value": "={{ $json.location }}",
              "type": "string"
            },
            {
              "id": "3ba1720e-a5c9-4741-9deb-2d76629f24ca",
              "name": "URL",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        820
      ],
      "id": "8b787807-d42d-4d2c-9a94-e21204565672",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        520,
        820
      ],
      "id": "bf5b9ed5-ee86-4201-8004-1b8d29b44f0a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1VEj9UGJUTite-PmV___QiS7relRzaguQ1AfcUEIymzk",
          "mode": "list",
          "cachedResultName": "Job List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VEj9UGJUTite-PmV___QiS7relRzaguQ1AfcUEIymzk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VEj9UGJUTite-PmV___QiS7relRzaguQ1AfcUEIymzk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $json.URL }}",
            "Title": "={{ $json.Title }}",
            "Company": "={{ $json.Comapny }}",
            "Location": "={{ $json.Location }}",
            "Recruiter": "={{ $json.Recruiter }}",
            "Recruiter company": "={{ $json['Recruiter Company'] }}",
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recruiter",
              "displayName": "Recruiter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recruiter company",
              "displayName": "Recruiter company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2180,
        920
      ],
      "id": "65f78db1-6415-44c8-aa70-b6ca8de3b202",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ayMPgbHvR2biiNpj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.agentql.com/v1/query-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "co46xMIuczKZMS7AayLS14Dn4OI4JLTWSFRSnn05nD1PapHvl1sa4Q"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{ recruiterName[] { name company } }\",\n  \"url\": \"{{ $json.url }}\",\n  \"params\": {\n    \"wait_for\": 0\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        1040
      ],
      "id": "9a097bfb-c266-40c1-a792-07a5e502ab0c",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1340,
        840
      ],
      "id": "8325226f-732c-4203-933b-8da81a989953",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/email-finder",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ \n  $json[\"Recruiter Company\"] \n    ? $json[\"Recruiter Company\"].toLowerCase().replace(/[^a-z]/g, \"\") + \".com\" \n    : \"yourcompany.com\" \n}}\n"
            },
            {
              "name": "first_name",
              "value": "={{ \n  $json[\"Recruiter\"] \n    ? $json[\"Recruiter\"].replace(/^(Mr\\.|Mrs\\.|Ms\\.|Dr\\.)\\s*/i, \"\").split(\" \")[0] \n    : \"DefaultFirstName\" \n}}\n"
            },
            {
              "name": "last_name",
              "value": "={{ \n  (() => {\n    const name = $json[\"Recruiter\"]?.replace(/^(Mr\\.|Mrs\\.|Ms\\.|Dr\\.)\\s*/i, \"\").trim();\n    if (!name) return \"DefaultLastName\";\n\n    const parts = name.split(\" \").slice(1);\n    const valid = parts.filter(p => p.length > 1 && /^[a-zA-Z]+$/.test(p));\n    \n    return valid.length > 0 ? valid.join(\" \") : \"DefaultLastName\";\n  })()\n}}\n"
            },
            {
              "name": "api_key",
              "value": "7d5613bf4bfa284f3732fe9a34ae04b136d78f31"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        1080
      ],
      "id": "684cf423-bad7-4061-8a91-b43fb277dfb3",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b50ac4db-2c2b-498c-90e3-61430ee11838",
              "leftValue": "={{ $json.Recruiter }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "af9c4233-1eed-49d0-9a9a-ff230afe7484",
              "leftValue": "={{ $json['Recruiter Company'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1360,
        1080
      ],
      "id": "5934364d-0cdc-41c6-89d1-2525575dfeb4",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8161d78a-1435-47ce-91c5-f525f419e078",
              "name": "Email",
              "value": "={{ $json.data.email }}",
              "type": "string"
            },
            {
              "id": "fce25c64-4c65-4000-9677-eab80b439e0b",
              "name": "url",
              "value": "={{ $('Split Out').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        1080
      ],
      "id": "a40aa7c7-098b-41b4-af9d-1cd3bb3b6d38",
      "name": "Extract Email"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2020,
        860
      ],
      "id": "04316320-479e-4f3f-831d-6a0438a3cbfe",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58b3cadb-bcb3-4711-aa18-2e53567e78e2",
              "name": "Recruiter",
              "value": "={{ $json.data.recruiterName[0].name }}",
              "type": "string"
            },
            {
              "id": "acb10800-782a-4130-b967-50350a8efa93",
              "name": "Recruiter Company",
              "value": "={{ $json.data.recruiterName[0].company }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        1140
      ],
      "id": "245180b7-b6bc-4766-b395-8f19b14e0e0e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1be085f5-4b72-45b7-b03b-015b85a04a17",
              "name": "Recruiter",
              "value": "={{ $json.data.recruiterName[0].name }}",
              "type": "string"
            },
            {
              "id": "62d3c630-6de0-4699-9942-384733d8b48b",
              "name": "Recruiter Company",
              "value": "={{ $json.data.recruiterName[0].company }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        920
      ],
      "id": "6254419d-f857-4789-94f0-4ea15456d93f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1VEj9UGJUTite-PmV___QiS7relRzaguQ1AfcUEIymzk",
          "mode": "list",
          "cachedResultName": "Job List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VEj9UGJUTite-PmV___QiS7relRzaguQ1AfcUEIymzk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 69544958,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VEj9UGJUTite-PmV___QiS7relRzaguQ1AfcUEIymzk/edit#gid=69544958"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.Title }}",
            "Company": "={{ $json.Comapny }}",
            "URL": "={{ $json.URL }}",
            "Location": "={{ $json.Location }}",
            "Recruiter": "={{ $json.Recruiter }}",
            "Recruiter Company": "={{ $json['Recruiter Company'] }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recruiter",
              "displayName": "Recruiter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recruiter Company",
              "displayName": "Recruiter Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2160,
        700
      ],
      "id": "89a08766-e3d3-400c-8148-6fe3786ed092",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ayMPgbHvR2biiNpj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a professional cold email applying for a {{ $json[\"Title\"] }} role. Address it to the recruiter from {{ $json.Email }}. The email should be concise and highlight relevant experience. Keep the tone formal but engaging.\n----\nthe below is my resume, use it. \n\nAbhinay Bandaru\nVisakhapatnam, AP 530032 | +91 87908 38277 \nEmail: abhinaybandaru27@gmail.com \nLinkedIn: http://www.linkedin.com/in/abhinay-bandaru  \nGitHub: https://github.com/Abhinayy27 \n\nEducation: \n- B.Tech in CSE, IIIT Nagpur (Nov 2022 – May 2026) \n- Courses: Data Structures, OS, Cloud, ML, Networks   \n\nExperience: \n- IIIT Nagpur, Research Intern: Built hybrid text-to-image model using ViT + GANs.\n- RINL: Developed predictive models (97% accuracy), automated data pipelines  \n\nProjects:  \n- AI Dating Bio Generator\n- YouTube Channel Analyzer using AgentQL \n\nSkills: \nPython, C/C++, SQL, React, LangChain, HuggingFace, OpenAI, FastAPI, etc.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2640,
        1300
      ],
      "id": "55f8d5da-c807-4252-875b-7ca28f9aa266",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VEj9UGJUTite-PmV___QiS7relRzaguQ1AfcUEIymzk",
          "mode": "list",
          "cachedResultName": "Job List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VEj9UGJUTite-PmV___QiS7relRzaguQ1AfcUEIymzk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VEj9UGJUTite-PmV___QiS7relRzaguQ1AfcUEIymzk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2060,
        1300
      ],
      "id": "41fc9f25-c8c6-4e26-9356-4cc2cdc76ff5",
      "name": "Google Sheets2",
      "executeOnce": true,
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ayMPgbHvR2biiNpj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "754ed220-9ac8-46a3-829e-dd561663cac6",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2280,
        1300
      ],
      "id": "62cd7b83-4f7b-4cd7-9f4f-5b365a5693b8",
      "name": "Filter1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2640,
        1500
      ],
      "id": "9221b916-bff3-496f-bf5e-00997637fcb2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "98SevIE7TbzLgIz1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "petemaverick3000@gmail.com",
        "subject": "=Applying for the role of  {{ $('Google Sheets2').item.json.Title }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3020,
        1300
      ],
      "id": "4c45e8df-0e7a-441e-9ca0-a2fe030a176f",
      "name": "Gmail",
      "webhookId": "b27d650c-68c2-4140-a2de-c4cc7ac6ea7f",
      "credentials": {
        "gmailOAuth2": {
          "id": "q4BTYY6UJv7C92SG",
          "name": "Gmail account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Telegram7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Extract Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e34f9df0-6f53-43ae-bb85-939f618abe96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5809bf65306341a540757eb5751d2999aa6294fe1426df8d4f1bd63a8b55dc0"
  },
  "id": "f5jFBW9V4JUr5YE2",
  "tags": []
}